@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans&display=swap');

/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */



html {
  /*-- Main font sizes --*/
  --title-size:      20px;
  --body-size:       18px;
  --code-size:       16px;
  --aside-size:      18px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #8F2D56;
  --header-color:    #000000;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Calibri Regular;
  --mono-font:       Calibri Regular;
  --body-font:       "Open Sans";
  --navbar-font:     Calibri Regular;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    20px;
  --heading-color:   #00AA82;
  --body-size:       18px;
  --body-color:      #000000;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-Models {
  --heading-size:    30px;
  --contents-size:   25px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    20px;
  --heading-color:   #00AAAA;
  --text-size:       20px;
  --text-color:      #000000;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       30px;
  --text-color:       #4B3228;
  --text-size:        25px;
  --hover-color:      Orange;
  --bkgd-color:       #00AAAA;
}

.distill-site-footer {
  --text-color:       #A14EBF;
  --text-size:        25px;
  --hover-color:      Orange;
  --bkgd-color:       #00AAAA;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */


h1 {
  color: #00AA82;
  font-size: 25px;
}

h2 {
  color: #00A0E1;
  font-size: 22px;
}

h3 {
  color: #00AAAA;
  font-size: 19px;
}

d-article h1 {
  color: #00AA82 !important;
  font-size: 18px;
}

d-article h2 {
  color: #00A0E1 !important;
  font-size: 18px;
}

d-article h3 {
  color: #00AAAA !important;
  font-size: 18px;
}

/*change url color */
a {
  color: #000000;
  font-size: 17px;
}

a:hover {
  color: #000000
  font-size: 17px;;
}


/*change body color*/

body {
  color: #000000;
  font-size: 17px;
}

p {
  color: #000000;
}

.license {
  color: #000000;
  font-size: 14px !important;
  margin-left: 35px;
  margin-right: 35px;
}

/*single space for the lists*/
d-article li {
    margin-bottom: 0em;
}

/*change buttons on homepage*/
.btn-outline-dark {
    background-color: transparent; 
    color: #78BE1E;
    border: 1px solid;
    border-color: #78BE1E;
}

.btn-outline-dark:hover {
    background-color: #E10019
    border-color: #E17D00;
    color: white;
}


/*make logo larger*/
.rounded {
  height: 15rem !important; 
}

/*remove search function*/
.nav-search {
  display: none !important;
}

.algolia-autocomplete {
  display: none !important;
}

.nav-left {
  padding: 0.35em;
}

.nav-right {
  padding: 0.35em;
}

/* remove scroll bar on right hand side */
.d-flex{
  overflow-y: hidden !important;
}

.timeline-Widget{
  width: 40%;
  min-width: 100px;
  max-width: 400px;
}

/*
.green-oak{
  width: 10% !important;
  min-width: 120px;
  max-width: 200px;
}
*/

.contributor_org {
  font-family: "Amaranth" !important;
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}

.contributor_ppl{
  font-family: "Open Sans" !important;
  font-size: 30px;
}

/* Change link appearance on contributor page */ 
d-article a {
  color: #008CD2;
  border-bottom: none;
}


/*
.p2{
  font-family: "Open Sans" !important;
  font-size: 25px;
  color: #008CD2;
}
*/

.left {
  float: left;
}

/*do not delete - this removes the scroll bar on the right hand side*/
.vh-100 {
  height: 80vh!important;
}
